<a href="https://colab.research.google.com/github/shashvindu/pysparknote/blob/main/pysaprksetup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [4]:
!wget -q https://dlcdn.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz

In [5]:
!tar xf spark-3.3.0-bin-hadoop3.tgz

In [6]:
!pip install -q findspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 37 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 33.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=3b7f6089ad5b4b6e5f234920fdfe6e6439c594f0e13bf2fdb7e0b26e653cae0e
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [7]:
from pyspark import SparkContext

In [8]:
sc=SparkContext()

In [10]:
a=sc.parallelize([1,2,3])

In [12]:
a.take(2)

[1, 2]

In [13]:
sc.stop()

In [14]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

retails_data_csv = "/content/drive/MyDrive/data/retail-data/by-day/*.csv"

In [20]:
spark = SparkSession \
    .builder \
    .appName("Basic Dataframe Operations") \
    .config("spark.master", "local") \
    .getOrCreate()

In [24]:
df = spark.read.format("csv")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load(retails_data_csv)\
  .repartition(5)

In [25]:
df.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536587|    22421|LIPSTICK PEN FUSCHIA|      12|2010-12-01 16:33:00|     0.42|   14142.0|United Kingdom|
|   536460|    21257|VICTORIAN SEWING ...|       2|2010-12-01 12:22:00|     7.95|   14849.0|United Kingdom|
|   536592|    22745|POPPY'S PLAYHOUSE...|       1|2010-12-01 17:06:00|     4.21|      null|United Kingdom|
|   536592|    22100|SKULLS SQUARE TIS...|       1|2010-12-01 17:06:00|     2.51|      null|United Kingdom|
|   536368|    22912|YELLOW COAT RACK ...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|   536544|    22069|BROWN  PIRATE TRE...|       1|2010-12-01 14:32:00|     3.36|      null|United Kingdom|
|   536523|    21485|RETROSPOT HEART H...|       3|2010-12-01 12:50:00|     4.95|   12868.0|United Kingdom|
|   536464|    21584|RETROSPOT SMALL T...|       1|2010-12-01 12:23:00|     1.65|   17968.0|United Kingdom|
|   536557|    22694|        WICKER STAR |       2|2010-12-01 14:41:00|      2.1|   17841.0|United Kingdom|
|   536592|    84347|ROTATING SILVER A...|       1|2010-12-01 17:06:00|     5.06|      null|United Kingdom|
|   536520|    21034|REX CASH+CARRY JU...|       2|2010-12-01 12:43:00|     0.95|   14729.0|United Kingdom|
|   536569|    21018|BIRD BOX CHRISTMA...|       2|2010-12-01 15:35:00|     0.85|   16274.0|United Kingdom|
|   536540|   85071A|BLUE CHARLIE+LOLA...|       6|2010-12-01 14:05:00|     2.95|   14911.0|          EIRE|
|   536551|    21592|RETROSPOT CIGAR B...|       1|2010-12-01 14:34:00|     1.25|   17346.0|United Kingdom|
|   536544|    21116|        OWL DOORSTOP|       1|2010-12-01 14:32:00|     8.47|      null|United Kingdom|
|   536464|    22960|JAM MAKING SET WI...|       1|2010-12-01 12:23:00|     4.25|   17968.0|United Kingdom|
|   536520|    22551|PLASTERS IN TIN S...|       1|2010-12-01 12:43:00|     1.65|   14729.0|United Kingdom|
|   536544|    22515|CHILDS GARDEN SPA...|       1|2010-12-01 14:32:00|     4.21|      null|United Kingdom|
|   536488|    22376|AIRLINE BAG VINTA...|       1|2010-12-01 12:31:00|     4.25|   17897.0|United Kingdom|
|   536592|   17012D|ORIGAMI ROSE INCE...|       1|2010-12-01 17:06:00|     2.51|      null|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [26]:
df.rdd.getNumPartitions()

5

In [28]:
from pyspark.sql.functions import count, countDistinct, approx_count_distinct
df.select(count("StockCode")).show()

+----------------+
|count(StockCode)|
+----------------+
|            3108|
+----------------+

In [29]:
df.groupBy("StockCode").count().show()

+---------+-----+
|StockCode|count|
+---------+-----+
|    21249|    2|
|    21894|    2|
|    22121|    6|
|    22728|    4|
|    90022|    1|
|    21889|    5|
|    22629|    4|
|    82486|    5|
|    85064|    4|
|    21967|    2|
|    22077|    7|
|    22107|    3|
|    84347|    8|
|    21690|    1|
|    21086|    1|
|    21833|    2|
|    48184|    1|
|    22652|    3|
|    20723|    3|
|    22184|    1|
+---------+-----+
only showing top 20 rows

In [30]:
df.select(countDistinct("StockCode")).show()

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     1351|
+-------------------------+

In [ ]:
df.select(approx_count_distinct("StockCode", 0.1)).show()